/* Header container */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2c2a35;
    color: #ffffff;
  }

  /* Logo section */
  .logo {
    display: flex;
    align-items: center;
  }

  .logo-image {
    width: 50px; /* Adjust based on the desired size */
    margin-right: 15px;
  }

  .logo h1 {
    font-size: 1.5rem;
    margin: 0;
    width: 40px;
    justify-content: center;
    align-items: center;
  }

  .logo span {
    font-weight: lighter;
    font-style: italic;
  }

  /* Navigation */
  .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .wrapper_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
  }

  .nav a:hover {
    color: #4f4bc1;
  }

  /* Search icon */
  .search-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  #login_btn{
    font-size: small;
    margin: 0;
    padding: 0;
  }